.container {
    width: 10vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 4px;
    margin: 0 1vw;
}

.container h2 {
    font-size: 1.3vw;
    margin-top: 1vh;
    text-align: center;
    color: var(--dark);
    width: 100%;
    font-family: var(--alternativefont);
    font-weight: 300;
    z-index: 3;
}

.fimgWrapper {
    height: 10vw;
    width: 10vw;
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.logoWrapper {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logoContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    opacity: 0.4;
}