.Skill {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Skill span {
  color: var(--white);
  font-size: 6vw;
  margin-bottom: 1vh;
}

.progress {
  width: 100%;
  height: 1.5vh;
  background-color: var(--white);
  border-radius: 5px;
}

.value {
  height: 1.5vh;
  border-radius: 5px;
}

.animation {
  height: 1.5vh;
  border-radius: 5px;
  background-color: var(--dark);
  width: 0;
  transition: all 1s ease-out;
}

.animationActive {
  height: 1.5vh;
  border-radius: 5px;
  background-color: var(--dark);
  width: 100%;
  transition: all 1s ease-out;
}

@media screen and (min-width: 1440px) {
  .Skill span {
    font-size: 1.5vw;
  }
}
