.container {
  padding: calc(4vw + 5vh);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container h1 {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 10vw;
  font-weight: 500;
}

.services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 70vw;
  margin-top: 5vh;
}

.buttonGroup {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.buttonGroup svg {
  margin: 0 2vw;
  font-size: 5vh;
  color: var(--grey);
  display: none;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: calc(4vw);
  }

  .container h1 {
    font-size: 7vw;
  }

  .services {
    align-items: center;
    height: 60vh;
    margin-top: 0;
  }



  .buttonGroup {
    flex-direction: row;
  }

  .buttonGroup svg {
    display: block;
  }

  .buttonGroup button {
    margin-top: 0;
  }
}