.container {
  padding: calc(4vw + 5vh);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container h1 {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 10vw;
  font-weight: 500;
}

.services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 70vw;
  margin-top: 5vh;
}

.service {
  width: 20vw;
  height: auto;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 4px;
  margin: 0 1vw;
}

.service h2 {
  font-size: 4vw;
  text-align: center;
  color: var(--dark);
  font-family: var(--alternativefont);
  font-weight: 300;
  z-index: 3;
}

.fimgWrapper {
  height: 20vw;
  width: 20vw;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.logoWrapper {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo {
  opacity: 0.4;
}

.buttonGroup {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.buttonGroup svg {
  margin: 0 2vw;
  font-size: 5vh;
  color: var(--grey);
  display: none;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: calc(4vw);
  }

  .container h1 {
    font-size: 7vw;
  }

  .services {
    align-items: center;
    height: 60vh;
    margin-top: 0;
  }

  .service {
    width: 20vw;
    height: 20vw;
    padding: 1vw;
  }

  .fimgWrapper {
    height: 15vw;
    width: 15vw;
  }

  .service h2 {
    font-size: 3vh;
  }

  .buttonGroup {
    flex-direction: row;
  }

  .buttonGroup svg {
    display: block;
  }

  .buttonGroup button {
    margin-top: 0;
  }
}
