.container {
  width: 100%;
  padding: 2vw 5vw 12vh 5vw;
  background-color: var(--primary);
  position: relative;
}

.container h1 {
  line-height: 0.8;
  margin-left: 2vw;
}

.container hr {
  border: none;
  background-color: var(--white);
  height: 2px;
  width: 96%;
  margin-left: 2vw;
  margin-top: 5vh;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5vh;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head,
.gear,
.bulb {
  position: fixed;
  color: var(--white);
  font-size: 25vw;
  z-index: 1;
  opacity: 0.1;
}

.gear {
  bottom: 0;
  right: 0;
}

.bulb {
  left: 2.5vw;
  top: 2.5vw;
}

@media screen and (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
  }

  .Skill span {
    font-size: 1.5vw;
  }
}
